In [17]:
import pandas as pd
import os
import json

In [19]:
with open('../parameters.json') as json_data :
    params = json.load(json_data)
#Constante souvent mise en majuscule=> nom de dossier, etc.
#on assigne les directory aux dossiers qu'on a créé

DATA_DIR = params['DATA_DIR']
TMP_DIR = params['TMP_DIR']

In [20]:
# .. sert à remonter d'un niveau => esquive l'arborescence 
#Simple verif de ce qu'il y a dans la variable params
params

{'DATA_DIR': '../../data', 'TMP_DIR': '../../tmp'}

In [3]:
#On va lire les données depuis le zip file mtnt
#on crée des listes 
gas_files = ['Prix2014.zip','Prix2016.zip','Prix2016.zip']
station_files = 'Stations2016.zip'
service_files = 'Services2016.zip'

In [ ]:
#Ouvrons un des fichiers
#manière sale avec concatenation, pas bien 
#df_2014 = pd.read_csv(DATA_DIR + '/' + gas_files[0])

In [13]:
#BONNE METHODE:
df_2014 = pd.read_csv(os.path.join(DATA_DIR,gas_files[0]),
                     sep=';',header = None,dtype ={1:str} )
df_2014.columns = ['id_station','code_postal','type_station',
                 'latitude','longitude','date_releve',
                 'type_carburant','libelle_carburant',
                  'prix']

In [14]:
df_2014.head()

,id_station,code_postal,type_station,latitude,longitude,date_releve,type_carburant,libelle_carburant,prix
0,1000001,01000,R,4620114.0,519791.0,2014-01-02 11:08:03,1.0,Gazole,1304.0
1,1000001,01000,R,4620114.0,519791.0,2014-01-04 09:54:03,1.0,Gazole,1304.0
2,1000001,01000,R,4620114.0,519791.0,2014-01-05 10:27:09,1.0,Gazole,1304.0
3,1000001,01000,R,4620114.0,519791.0,2014-01-06 09:07:51,1.0,Gazole,1304.0
4,1000001,01000,R,4620114.0,519791.0,2014-01-07 09:23:56,1.0,Gazole,1304.0